@font-face {
    font-family: Saithik-Handwritten;
    src: url('/assets/fonts/Saithik-Handwritten.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/***************
    v-toobar
****************/
.v-toolbar {
    background: white;
    text-align: center;
    box-shadow: none;
}
.v-toolbar__content {
    display: inline-block;
}