@font-face {
    font-family: "Saithik";
    font-style: normal;
    font-weight: normal;
    src: url('~@/assets/fonts/Saithik-Handwritten.ttf') format('truetype');
}

@font-face {
    font-family: "Apple";
    font-style: normal;
    font-weight: 100;
    src: url('~@/assets/fonts/AppleSDGothicNeoT.ttf') format('truetype');
}


@font-face {
    font-family: "Apple";
    font-style: normal;
    font-weight: 400;
    src: url('~@/assets/fonts/AppleSDGothicNeoR.ttf') format('truetype');
}


@font-face {
    font-family: "Apple";
    font-style: normal;
    font-weight: 700;
    src: url('~@/assets/fonts/AppleSDGothicNeoB.ttf') format('truetype');
}
/***************
    v-toobar
****************/
.v-toolbar {
    background: white;
    text-align: center;
    box-shadow: none;
}
.v-toolbar__content {
    display: inline-block;
}