@font-face {
    font-family: "Saithik";
    font-style: normal;
    font-weight: normal;
    src: url('~@/assets/fonts/Saithik-Handwritten.ttf') format('truetype');
}

@font-face {
    font-family: "Apple";
    font-style: normal;
    font-weight: 100;
    src: url('~@/assets/fonts/AppleSDGothicNeoT.ttf') format('truetype');
}


@font-face {
    font-family: "Apple";
    font-style: normal;
    font-weight: 400;
    src: url('~@/assets/fonts/AppleSDGothicNeoR.ttf') format('truetype');
}


@font-face {
    font-family: "Apple";
    font-style: normal;
    font-weight: 700;
    src: url('~@/assets/fonts/AppleSDGothicNeoB.ttf') format('truetype');
}
/***************
    v-toobar
****************/
.v-toolbar {
    background: white;
    text-align: center;
    box-shadow: none;
}
.v-toolbar__content {
    display: inline-block;
}

.v-content .v-content__wrap {
    display: flex;
}

.apple-sandol-font {
    font-size: 65px;
    font-family: "APPLE SD Gothic Neo";
    font-weight: 100;
}
.apple-sandol-font.web {
    font-size: 50px;
    line-height: 50px;
}
.apple-sandol-font.pad {
    font-size: 40px;
    line-height: 48px;
}
.apple-sandol-font.mobile {
    font-size: 23px;
    line-height: 40px;
}

.saithik-font {
    color: black;
    text-decoration: none;
    font-family: 'Saithik';
}
.saithik-font.web {
    font-size: 70px;
}
.saithik-font.pad {
    font-size: 60px;
}
.saithik-font.mobile {
    font-size: 40px;
}
